
/* new styles */



.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 14px;
}

.circle-primary {
  background-color: var(--primary-color);
  color: white;

}

.circle-secondary {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
}


#bottom-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.12); /* Box shadow to create floating effect */
  background-color: var(--background-color);
}


#bottom-panel .btn {
  width: 100px; /* Ensure consistent button width */
}

#step-body {
  margin-bottom: 100px; /* Adjust this value to ensure the content doesn't overlap the bottom panel */
}

