/* mod bootstrap*/
:root {
 /*mod*/
 --primary: #2d6a4f;
 --secondary: #52b788;
 --primary-color: #2d6a4f;
 --primary-dark: #1b4332;
 --primary-light: #337959;
 --secondary-color: #52b788;
 --tertiary-color: #95d5b2;
 --background-color: white;
 --text-color: #081c15;

}

body {

  /*mod*/
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
.btn:focus {
  color: black;
}

.btn-primary {
  /*mod*/
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  /*mod*/
  background-color: var(--primary-dark) !important;

}

.btn-primary.disabled, .btn-primary:disabled {
  /*mod*/
  cursor: not-allowed;
}

.btn-secondary {

  /*mod*/
  background-color: var(--background-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--text-color)
}

.btn-secondary.disabled, .btn-secondary:disabled {
  /*mod*/
  cursor: not-allowed;

}

.btn-secondary:hover {

  /*mod*/
  background-color: var(--tertiary-color) !important;
  color: var(--text-color);
}

.btn-secondary {
  --bs-btn-color: black;
   --bs-btn-hover-color: black;
   --bs-btn-active-color: black;
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.accordion {

--bs-accordion-active-bg: var(--tertiary-color)
}

.accordion-button {
  background-color: var(--background-color);
  color: var(--primary);
}

.accordion-button:not(.collapsed) {
  color: var(--primary); /* Keeps text color consistent when expanded */
}

.accordion-button i {
  color: var(--primary); /* Icon color */
}


/* new styles */



.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 14px;
}

.circle-primary {
  background-color: var(--primary-color);
  color: white;

}

.circle-secondary {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
}


.title {
  font-size: 1rem;
  font-weight: 500;
}

/* Adjusting for smaller screens */
@media (max-width: 576px) {
  .circle {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  .title {
    font-size: 0.9rem;
  }
}


#bottom-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.12); /* Box shadow to create floating effect */
  background-color: var(--background-color);
}


#bottom-panel .btn {
  width: 100px; /* Ensure consistent button width */
}

#step-body {
  margin-bottom: 100px; /* Adjust this value to ensure the content doesn't overlap the bottom panel */
}

/* Custom  styles for the review table */
.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;

}

.custom-table th {
  text-align: left;
  background-color: var(--primary);
  color: white;
}


/* Custom styles for checkbox when checked */
.dropdown-menu .dropdown-item input[type="checkbox"]:checked {
  accent-color: var(--secondary); /* Change this to your desired color */
}

/* Custom styles for menu item when active */
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item.show,
.dropdown-menu .dropdown-item:focus {  background-color: var(--secondary); /* Change this to your desired background color */
}

